.container{
    padding: 10px;
    padding-left: 0%;
    margin: 10px;
    margin-left: 300px;
    justify-content: center;
    }
    
    
    .containerCarrito{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    }
    .containerCarrito h5{
    padding: 4px;
    margin: 8px;
    }
    
    .carousel-item{
        height: 600px;
        align-items: center;
    
    }
    
    .containerCarousel{
        justify-content: center;
        
    }
    
    .rounded{
    width: 80%;
    padding-right: 100px;
    }
    
    .containerContacto h6:hover{
        color: rgb(196, 194, 194);
    }
    
    .cards-wrapper {
        padding-top: 45px
    }
    
    .carousel-item{
        background-color: rgb(39, 155, 39);
    
    }
    .card img {
        max-width: 100%;
        max-height: 100%;
    }
    
    .container-fluid-2{
        padding-left: 35%;
        align-items: center;
        background-color: white;
        padding-bottom: 50px;
    }
    
    .containerSocio{
        padding-left: 35%;
        background-color: white;
    }
    
    
    .carousel-item{
        background-color: white;
    
    }
    
    .cards-wrapper{
        padding-top: 10px;
    }
    
    .tableCarrito {
        margin-bottom: 0;
    }
    
    
    .container-fluid-3 {
        margin-top: 0px;
        padding-left: 30%;
    }
    .infoPedidos {
        margin-top: 30px;
        border: 1px solid #ddd;
        padding: 20px;
        background-color: #fff;
    }
    .infoPedidos h4 {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .infoPedidos ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .infoPedidos li {
        padding: 10px 0;
        border-bottom: 1px solid #eee;
    }
    
    .infoPedidos li p {
        margin: 0;
    }
    
    .cardProductos{
        height: 400px;
        width: 400px;
        
    }
    
    .cards-wrapper2{
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .containerSeguimiento{
        background-color: white;
        padding-top: 90px;
        padding-bottom: 132px;
    }

    .fondoCarrito{
        background-color: white;
        padding-top: 90px;
        padding-bottom: 294px;
    }

    .container-fluid-4{
        background-color: green;
    }


    .cardJardin{
        padding-top: 200px;
    }

   