.container{
    padding: 10px;
    padding-left: 0%;
    margin: 10px;
    margin-left: 300px;
    justify-content: center;
}


.containerCarrito{
    display: flex;
    justify-content: flex-end;
    align-items: end;
}
.containerCarrito h5{
   padding: 4px;
   margin: 8px;
}

.carousel-item{
    height: 600px;
    align-items: center;
   
}

.containerCarousel{
    justify-content: center;
    
}

.rounded{
   width: 80%;
   padding-right: 100px;
}

.containerContacto h6:hover{
    color: rgb(196, 194, 194);
}


.card img {
    max-width: 100%;
    max-height: 100%;
 }

 .container-fluid-2{
    padding-left: 35%;
    align-items: center;
}

.containerSocio{
<<<<<<< HEAD
    padding-left: 35%;
}


.carousel-item{
    background-color: rgb(39, 155, 39);

}

.cards-wrapper{
    padding-top: 45px;
}
=======
    padding-left: 16%;
}

.tableCarrito {
    margin-bottom: 0;
  }


  .container-fluid-3 {
    margin-top: 50px;
    padding-left: 27%;
}
.infoPedidos {
    margin-top: 30px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
}
.infoPedidos h4 {
    margin-top: 0;
    margin-bottom: 20px;
}
.infoPedidos ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.infoPedidos li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.infoPedidos li p {
    margin: 0;
}
  
>>>>>>> e0400b5a27d185012ef5365e3b337886f88820e6
